<ol class="list-unstyled">
  <li class="row no-gutters" *ngFor="let cols of rows">
    <div class="col-md-4" *ngFor="let foto of cols" appDarkenOnHover brightness="90%">
      <a [routerLink]="['/photo',foto.id]">
      <app-card [title]="foto.description">
        <app-photo [url]="foto.url" [description]="foto.description"> </app-photo>
        <div class="text-center p1">
          <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2">
            {{ foto.likes }}</i>
          <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2">
            {{ foto.comments }}</i>
        </div>
      </app-card>
    </a>
    </div>
  </li>
</ol>
